<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename= 'main.css')}}"/>
    <title>BrainWave Blog</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{url_for('index')}}">
          BrainWave
        </a>
      </div>
      <div class="nav-item">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('contribute')}}">Contribute</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href="{{url_for('logout')}}">Log Out</a>
        <a href="{{url_for('course')}}">Courses</a>
        {% else %}
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href="{{url_for('register')}}">Sign Up</a>
        <a href="{{url_for('login')}}">Log In</a>
        {% endif %}
      </div>
    </header>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="container">
      {% for message in messages %}
      <p>{{ message }} <a href="{{request.path}}">Dismiss</a></p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <main class="container">{% block content %}{% endblock content %}</main>
    <footer class="container">
      <div class="container">
          <a href="{{url_for('index')}}">
            BrainWave
          </a>
      </div>
      <p class="footer">
        <a>@afsheenPathan</a
        >,
        <a>Project Work</a
        >
        <script>
          document.write(new Date().getFullYear());
        </script>
      </p>
    </footer>
  </body>
</html>